@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
	#content{
		width: 100%;
		margin-left: 10px;
		margin-right: 10px;
		max-width: 100%;
		bottom:100px !important;
		
	}
	#mainCompo{
		right:20px;
		top:100px !important;
	}
	#login1{
		right:15px;
	}
	#image1{
		left:15px;
	}
	.matrixProductItem{
		width:240px !important;
	}
}
